<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.mapper.CommentMapper">
<select id="getAll" resultType="com.yang.pojo.Comment">
    select * from comment where hotId=#{id}
</select>
    <insert id="inser" parameterType="com.yang.pojo.Comment">
        insert into comment values(null,#{notEventend},now(),#{hotId})
    </insert>
</mapper>
